<template>
    <div>
        <div id="main-content" class="container">
            <div class="row">
                <div class="col-md-12">
                    <table id="conversation" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Greetings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in messages" :key="item.id">
                                <td>{{ item }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "socketChat",
  computed: {
    ...mapGetters(["messages"]),
    connected () {
      return true
    },
  },
  methods: {
    ...mapActions(["setTopicAction"])
  },
  created() {
    this.setTopicAction("d11c6f80-5482-404c-a166-775517a40bd5")
  }
};
</script>

<style scoped>

</style>